%h2 Pet Shelters
%br
.panel.panel-default
  %table.table
    %tr
      %th.col-sm-3 Name
      %th.col-sm-3 Phone/Email
      %th.col-sm-2 Address
      %th.col-sm-2 City
      %th.col-sm-1 State
      %th.col-sm-1 Zip

    - @shelters.each do |shelter|
      %tr
        %td= link_to shelter.name.titleize, shelter
        %td.small
          = shelter.phone
          %br
          = shelter.email.downcase
        %td.small= shelter.address1.titleize unless shelter.address1.nil?
        %td.small= shelter.city
        %td.small= shelter.state
        %td.small= shelter.zip

= will_paginate @shelters
