%h1 Pet Shelter Listing

%table.table
  %tr
    %th Name
    %th Phone
    %th Email
    %th City
    %th State
    %th Zip
    %th ID

  - @shelters.each do |shelter|
    %tr
      %td= link_to shelter.name.titleize, shelter
      %td= shelter.phone
      %td= shelter.email
      %td= shelter.city
      %td= shelter.state
      %td= shelter.zip
      %td= shelter.id_pf
