.row.extra-padding
  .col-sm-8.col-sm-offset-2
    %p= link_to 'Back', shelters_path

    .panel.panel-default
      .panel-heading.pet-panel-padding
        %h3= @shelter.name.titleize
      .panel-body.pet-panel-padding.pet-panel-padding-body
        %dl
          %dt Address:
          %dd= @shelter.address
          %dd= "#{@shelter.city}, #{@shelter.state} #{@shelter.zip}"
          %br
          %dt Phone:
          %dd= @shelter.phone
          %br
          %dt Email:
          %dd= @shelter.email.downcase



