%h1 Pets
%h4
  %ul.list-inline
    %li= link_to "All", pets_path
    %li= link_to "Cats", pets_path(animal: "cat")
    %li= link_to "Dogs", pets_path(animal: "dog")
%br

- @pets.each_slice(3) do |three_pets|
  .row
    - three_pets.each do |pet|
      .col-sm-4
        .panel.panel-default
          .panel-heading.pet-heading
            %img.center-block.img-rounded.pet-image{src: (pet.image_url.nil?) ? image_path("placeholder-banner-dog.jpg") : pet.image_url}
          .panel-body
            %p.lead.text-center= link_to truncate(pet.name.titleize, length: 25, separator: ' '), pet
            %ul.list-inline.text-muted
              %li= pet.age
              %li= pet.sex_description
              %li= pet.size_description
              %li= pet.mix_description
            %ul.list-inline
              %li= link_to truncate(pet.shelter.name.titleize, length: 30, separator: ' '), pet.shelter
              %li.label.label-default.pull-right= pet.status_description

= will_paginate @pets
