.navbar-header
  %button.navbar-toggle.collapsed{"data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to "Perfect Pet Match", '/', :class => 'navbar-brand'

.collapse.navbar-collapse
  %ul.nav.navbar-nav.navbar-right
    %li{class: "#{'active' if current_page?(root_path) || current_page?(pets_path)}"}
      = link_to('PETS', '/pets')
    %li{class: "#{'active' if current_page?(shelters_path)}"}
      = link_to('SHELTERS', '/shelters')
    %li{class: "#{'active' if current_page?(imports_path)}"}
      = link_to('IMPORT', '/imports')
